$primary: #83f084;
$primary-trans: #83f0857c;
$secondary: #511281;
$secondary-trans: #5112817c;
$light: #dddddd;
$light-trans: #dddddd7c;
$lighter: #f9f9f9;
$lighter-trans: #f9f9f97c;
$dark: #323232;
$dark-trans: #3232327c;
$darker: #000000;
$darker-trans: #0000007c;
$success: #79d70f;
$success-trans: #7ad70f7c;
$danger: #ff616d;
$danger-trans: #ff616e7c;
$warning: #d2e603;
$warning-trans: #d3e6037c;
