@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Raleway:wght@300&display=swap');

$fontPrimary: 'Raleway', sans-serif;
$fontSecondary: 'Big Shoulders Stencil Display', cursive;

$l: 4rem;
$m: 1.5rem;
$s: 1rem;

$bold: 600;
$bolder: 900;
$thin: 400;
$thiner: 200;
